<td>{{id}}</td>
<td>
    <img src="gfx/{{img}}.png" alt="{{img}}">
</td>
<td>{{shortName name}}</td>
<td>{{size}}</td>
<td>{{type}}</td>
<td>
    <a href="/clearFilemanagerSingle/{{id}}">USUŃ</a>
</td>
<td>
    <a href="/info/?id={{id}}">Info</a>
</td>
<td>
    <a href="/download/?id={{id}}">Pobierz</a>
</td>